#lang css

@charset "utf-8";

/**
 * This file defines the default theme for using in docx/xlsx/pptx
 *
 * The OpenXML Specification defines the hierarchical tree of a theme:
 *   - theme
 *     - themeElements
 *       - clrScheme
 *       - fontScheme
 *       - fmtScheme
 *         - fillStyleLst
 *         - lnStyleLst
 *         - effectStyleLst
 *         - bgFillStyleLst
 *     - objectDefaults
 *     - extraClrSchemeLst
 *     - extLst
 *       - thm15:themeFamily
 *
 * By convention, from the perspective of the favored CSS engine, the root element of a theme is the name of dialect of Scribble,
 *   without prefix `scribble/`, that is to say, you could make your theme varying from scribble/base to scribble/manual to others.
 *
 * NOTE that, the reason why we employ CSS as the styling language is that
 *   the syntax of XML is a piece of shit, however the OpenXML employed by MS Office is even more cumbersome,
 *   as such, the logic structure of the favored CSS engine is just as distinct as it should be.
 *
 * A boolean value is represented as CSS integer, and interpreted as in C language.
 *
 * A color can be one of CSS colors, OpenXML colors, and OpenXML color transforms.
 *   * CSS colors are preferable;
 *   * The OpenXML scheme colors are representated as CSS keywords; 
 *   * Other supported OpenXML colors are represented as functions, whose names are exactly what they've been defined in OpenXML References,
 *   *   like `sysClr`;
 *   * The OpenXMl color tranformations are represented as the function `clrTransform(color, tranforms ...)`, where
 *       `transforms` are also representated as functions: alpha, red, green, blue, hue, sat, lum.  
 *
 *   The CSS keyword `currentcolor` is equivalent to the OpenXML keyword `phClr`
 *   The OpenXML keywords are case sensitive, and so are their corresponding CSS keywords
 *
 * A fill style can be one of CSS images, OpenXML fills.
 *   * CSS images are preferable;
 *   * The `grpFill` and `noFill` are represented by CSS keywords `group` and `none`, respectively;
 *   * The `solidFill` is just any value of colors;
 *   * The `gradFill` is represented by some flattened functions similar to CSS gradient notations;
 *   * Any unimplemented fills are reinterpreted as `noFill`
 */

/* The namespace is optional and will never be mapped to the `xmlns` attribute of `a:theme` */
@namespace theme url(github.com/wargrey/mox/docx);

:root {
  --panose: #020F0302020204030204;
}

/**
 * clrScheme
 *
 * This schemet, as well as the type selector, is just straightforward
 * There should be at least 12 properties defined as colors
 */

clrScheme {
  dk1:      sysClr(windowText #000000);
  lt1:      sysClr(window     #FFFFFF);
  dk2:      #44546A;
  lt2:      #E7E6E6;

  accent1:  #4472C4;
  accent2:  #ED7D31;
  accent3:  #A5A5A5;
  accent4:  #FFC000;
  accent5:  #5B9BD5;
  accent6:  #70AD47;
  
  hlink:    #0563C1;
  folHlink: #954F72;
}

/**
 * fillStyleLst and bgFillStyleLst
 *
 * These schemes are associated with the type selector `fillStyle`
 * They both are lists and containing 3 styles, `subtle`, `moderate`, and `intense`, which are selected by pseudo-classes.
 * Besides, `bgFillStyleLst` is selected by class `.background`, while `fillStyleLst` itself is selected by `.shape`.
 * As such, a `fillStyle` selector without pseudo-class and/or class can be used to share common properties.
 *
 * The fill style value is associated with the property `datum`, and other properties are used to set other parameters if needed.
 *   * rotate-with-shape, <css-boolean>,    rotWithShape
 *   * tile-rectangle,    <css-region>,     tileRect
 *   * tile-flip          <css-keyword>,    flip
 */

fillStyle { /* for all fill styles */
  rotate-with-shape: 1;
  tile-flip: none;
}

fillStyle:subtle { /* for both .shape and .background */
  datum: phClr;
}

fillStyle:moderate.shape {
  datum: lin(5400000, clrTransform(phClr, tint(65000), lum(#mod 110000)), clrTransform(phClr, tint(90000)) 88000);
}

fillStyle:moderate.background {
  datum: lin(5400000, clrTransform(phClr, tint(90000), lum(#mod 104000)), clrTransform(phClr, shade(96000), lum(#mod 82000)) 94000);
}

fillStyle:intense.shape {
  datum: lin(5400000, clrTransform(phClr, tint(96000), lum(#mod 100000)), clrTransform(phClr, shade(94000), lum(#mod 94000)) 78000);
}

fillStyle:intense.background {
  datum: path(circle in 50000 100000 100000 50000, clrTransform(phClr, tint(90000), lum(#mod 110000)), clrTransform(phClr, shade(94000), lum(#mod 96000)) 100000);
}

/**
 * lnStyleLst
 *
 * This scheme is associated with the type selector `lineStyle`
 * It is a list and containing 3 styles, `subtle`, `moderate`, and `intense`, which are selected by pseudo-classes.
 * As such, a `lineStyle` selector without pseudo-class and/or class can be used to share common properties.
 */

lineStyle {
  fill: phClr;    /* all fill are accepted */
  pen-align: ctr; /* corresponds to `algn` */
  end-cap: rnd;   /* corresponds to `cap` */
  compound: sng;  /* corresponds to `cmpd` */
  join: none;     /* 'bevel, 'miter, 'round, and miter join limit */
  dash: solid;    /* corresponds to `prstDash` and `custDash` */
}

lineStyle:subtle {
  width: 12700;
}

lineStyle:moderate {
  width: 19050;
}

lineStyle:intense {
  width: 25400;
}

/**
 * fontScheme
 *
 * There are two groups of font scheme and are assigned to id `#head`(a.k.a majorFont) and `#body`(a.k.a minorFont), respectively.
 * For each group of font scheme, there should be upto 3 general categories of typefaces,
 *   plus detialed preferences for specific natural languages.
 */

fontScheme {
  /* `latin` is defined separately */
  ea: ""; /* east asian */
  cs: ""; /* complex script */

  Hang: "맑은 고딕";
  Hant: "新細明體";
  
  Knda: "Tunga";
  Guru: "Raavi";
  Cans: "Euphemia";
  Cher: "Plantagenet Cherokee";
  Yiii: "Microsoft Yi Baiti";
  Tibt: "Microsoft Himalaya";
  Thaa: "MV Boli";
  Deva: "Mangal";
  Telu: "Gautami";
  Taml: "Latha";
  Syrc: "Estrangelo Edessa";
  Orya: "Kalinga";
  Mlym: "Kartika";
  Laoo: "DokChampa";
  Sinh: "Iskoola Pota";
  Mong: "Mongolian Baiti";
  
  Uigh: "Microsoft Uighur";
  Geor: "Sylfaen";
  Armn: "Arial";
  Bugi: "Leelawadee UI";
  Bopo: "Microsoft JhengHei";
  Java: "Javanese Text";
  Lisu: "Segoe UI";
  Mymr: "Myanmar Text";
  Nkoo: "Ebrima";
  Olck: "Nirmala UI";
  Osma: "Ebrima";
  Phag: "Phagspa";
  Syrn: "Estrangelo Edessa";
  Syrj: "Estrangelo Edessa";
  Syre: "Estrangelo Edessa";
  Sora: "Nirmala UI";
  Tale: "Microsoft Tai Le";
  Talu: "Microsoft New Tai Lue";
  Tfng: "Ebrima";
}

fontScheme#head {
  latin: panose("Calibri Light" var(--panose));

  Jpan: "游ゴシック Light";
  Hans: "等线 Light";
       
  Arab: "Times New Roman";
  Hebr: "Times New Roman";
  Thai: "Angsana New";
  Khmr: "MoolBoran";
  Viet: "Times New Roman";
}

fontScheme#body {
  latin: panose("Calibri" var(--panose));

  Jpan: "游明朝";
  Hans: "等线";
  
  Arab: "Arial";
  Hebr: "Arial";
  Thai: "Cordia New";  
  Khmr: "DaunPenh";
  Viet: "Arial";
}
